each artist in locals
  div.pure-u-1.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
    a.artist-card(href='duplicates-for-artist?artist=' + encodeURIComponent(artist.name),
        data-artist=artist.name, data-plays=artist.playcount)
      div.artist-card__img.aspect.aspect--16x9
        div.aspect-inner
          img.artist-card__image(src=artist.image[4]['#text'], alt=artist.name)
          img.artist-card__loading(src='/icons/puff.svg')
          p.artist-card__playcount.marginless.text-overflow !{ artist.playcount + ' plays'}
          p.artist-card__duplicates.marginless.hidden !{ ' duplicates' }
          button.artist-card__error.pure-button.btn-warning.hidden
            i.fa.fa-exclamation-triangle
      div.artist-card__inner
        p.artist-card__name.marginless.text-overflow= artist.name
