extends layout

mixin trackRow(track)
  td= track.name
  td= track.date.text
  td
    a(href=track.listing, target="_blank") View on Last.fm
  td
    button(class="topcoat-button--large--cta danger js-remove",
        data-track=track.name,
        data-artist=track.artist.name,
        data-timestamp=track.date.uts,
        title="Remove this scrobble")
      | Remove


block content

  .container
    .row
      .col-sm-12
        h1
          | !{ 'Duplicate list for ' }
          em= locals.artist

  .container
    .row
      .col-sm-12
        h2.t2
          span.topcoat-notification= duplicates.length
          | !{ ' Duplicates.' }
        table.table.duplicate-list
          each duplicate in locals.duplicates
            tr
              +trackRow(duplicate)
