extends layout


mixin listDuplicates()
  .list-duplicates.hidden
    .pure-g
      .pure-u-1
        h1.t2
          | !{ 'Duplicate list for ' }
          em= locals.artist
        p
          | Click the <strong>remove</strong> button to remove the track from your scrobbling history.
          span.warning This is permanent!

    .pure-g.js-track-remover




mixin noDuplicates()
  .hidden.no-duplicates
    .pure-g
      .pure-u-1
        h1.t2
          | !{ 'No duplicates found for ' }
          em= locals.artist


block content
  +listDuplicates()
  +noDuplicates()
  .list-loading-msg(data-artist=locals.artist)
    .pure-g
      .pure-u-1
        h2.t2 !{ 'Looking for duplicates for <em>' + locals.artist + '</em>.' }
      .pure-u-1.ghost-center-wrap.text-center.duplicates-loader
        .ghost-center
          +loaderDots('Talking to Last.fm...')


block require
  +requireScript('pages/artist-duplicates')
