extends layout


block content

  .container
    .row
      .col-sm-12
        h1
          | !{ 'Duplicate list for ' }
          em= locals.artist

  .container
    .row
      .col-sm-12
        h2.t2
          span.topcoat-notification= duplicates.length
          | !{ ' Duplicates.' }
        table.table
          each duplicate in locals.duplicates
            tr
              td= duplicate.name
              td= duplicate.date['#text']
              td
                a(href=duplicate.listing, target="_blank") View on Last.fm
              td
                a.topcoat-button--large--cta.danger(href=duplicate.removeUrl, title="Remove this scrobble") Remove
